AstreiaSoft_C#/AstreiaSoft/AstreiaSoft/Connected Services/InfraWS/InfraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gestadmin.services.astreiasoft.lp2.org/" targetNamespace="http://gestadmin.services.astreiasoft.lp2.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="asignarAulaXSeccion" type="tns:asignarAulaXSeccion" />
  <xs:element name="asignarAulaXSeccionResponse" type="tns:asignarAulaXSeccionResponse" />
  <xs:element name="eliminarAula" type="tns:eliminarAula" />
  <xs:element name="eliminarAulaResponse" type="tns:eliminarAulaResponse" />
  <xs:element name="eliminarSeccion" type="tns:eliminarSeccion" />
  <xs:element name="eliminarSeccionResponse" type="tns:eliminarSeccionResponse" />
  <xs:element name="insertarAula" type="tns:insertarAula" />
  <xs:element name="insertarAulaResponse" type="tns:insertarAulaResponse" />
  <xs:element name="insertarSeccion" type="tns:insertarSeccion" />
  <xs:element name="insertarSeccionResponse" type="tns:insertarSeccionResponse" />
  <xs:element name="listarAulaTodas" type="tns:listarAulaTodas" />
  <xs:element name="listarAulaTodasResponse" type="tns:listarAulaTodasResponse" />
  <xs:element name="listarAulasDetalle" type="tns:listarAulasDetalle" />
  <xs:element name="listarAulasDetalleResponse" type="tns:listarAulasDetalleResponse" />
  <xs:element name="listarEstPorSeccion" type="tns:listarEstPorSeccion" />
  <xs:element name="listarEstPorSeccionResponse" type="tns:listarEstPorSeccionResponse" />
  <xs:element name="listarGradosTodos" type="tns:listarGradosTodos" />
  <xs:element name="listarGradosTodosResponse" type="tns:listarGradosTodosResponse" />
  <xs:element name="listarNivelesEducativos" type="tns:listarNivelesEducativos" />
  <xs:element name="listarNivelesEducativosResponse" type="tns:listarNivelesEducativosResponse" />
  <xs:element name="listarSeccionPorIdGrado" type="tns:listarSeccionPorIdGrado" />
  <xs:element name="listarSeccionPorIdGradoResponse" type="tns:listarSeccionPorIdGradoResponse" />
  <xs:element name="listarSeccionesTodos" type="tns:listarSeccionesTodos" />
  <xs:element name="listarSeccionesTodosResponse" type="tns:listarSeccionesTodosResponse" />
  <xs:element name="modificarAula" type="tns:modificarAula" />
  <xs:element name="modificarAulaResponse" type="tns:modificarAulaResponse" />
  <xs:element name="modificarSeccion" type="tns:modificarSeccion" />
  <xs:element name="modificarSeccionResponse" type="tns:modificarSeccionResponse" />
  <xs:element name="vericarAulaEnSecciones" type="tns:vericarAulaEnSecciones" />
  <xs:element name="vericarAulaEnSeccionesResponse" type="tns:vericarAulaEnSeccionesResponse" />
  <xs:complexType name="listarNivelesEducativos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarNivelesEducativosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:nivelEducativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSeccionesTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSeccionesTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="anho" type="xs:int" />
      <xs:element minOccurs="0" name="aula" type="tns:aula" />
      <xs:element minOccurs="0" name="grado" type="tns:grado" />
      <xs:element name="idSeccion" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aula">
    <xs:sequence>
      <xs:element name="capacidad" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoAula" />
      <xs:element name="idAula" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grado">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="estudiantes" nillable="true" type="tns:estudiante" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idGrado" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelEducativo" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estudiante">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="aula" type="tns:aula" />
          <xs:element minOccurs="0" name="grado" type="tns:grado" />
          <xs:element name="idEstudiante" type="xs:int" />
          <xs:element minOccurs="0" name="padre" type="tns:padreFamilia" />
          <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="genero" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="padreFamilia">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="hijos" nillable="true" type="tns:estudiante" />
          <xs:element name="numeroHijos" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="tns:nombreRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAula">
    <xs:sequence>
      <xs:element minOccurs="0" name="aula" type="tns:aula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAulaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSeccion">
    <xs:sequence>
      <xs:element name="idSeccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSeccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarAulaXSeccion">
    <xs:sequence>
      <xs:element name="idSeccion" type="xs:int" />
      <xs:element name="idAula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarAulaXSeccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAula">
    <xs:sequence>
      <xs:element name="idAula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAulaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSeccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSeccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAulaTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAulaTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:aula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vericarAulaEnSecciones">
    <xs:sequence>
      <xs:element name="idAula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vericarAulaEnSeccionesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSeccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="medicamento" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSeccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSeccionPorIdGrado">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSeccionPorIdGradoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGradosTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarGradosTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:grado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAulasDetalle">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAulasDetalleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAula">
    <xs:sequence>
      <xs:element minOccurs="0" name="aula" type="tns:aula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAulaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEstPorSeccion">
    <xs:sequence>
      <xs:element name="idSeccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEstPorSeccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nivelEducativo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Primaria" />
      <xs:enumeration value="Secundaria" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoAula">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Operativo" />
      <xs:enumeration value="Inoperativo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nombreRol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Estudiante" />
      <xs:enumeration value="PadreFamilia" />
      <xs:enumeration value="Docente" />
      <xs:enumeration value="AdministradorAcademico" />
      <xs:enumeration value="AdministradorSistema" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>