AstreiaSoft_C#/AstreiaSoft/AstreiaSoft/Connected Services/InfraWS/InfraWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gestadmin.services.astreiasoft.lp2.org/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InfraWS" targetNamespace="http://gestadmin.services.astreiasoft.lp2.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AstreiaSoftWebServices/InfraWS?xsd=1" namespace="http://gestadmin.services.astreiasoft.lp2.org/" />
    </xsd:schema>
  </types>
  <message name="listarSeccionesTodos">
    <part name="parameters" element="tns:listarSeccionesTodos" />
  </message>
  <message name="listarSeccionesTodosResponse">
    <part name="parameters" element="tns:listarSeccionesTodosResponse" />
  </message>
  <message name="listarSeccionPorIdGrado">
    <part name="parameters" element="tns:listarSeccionPorIdGrado" />
  </message>
  <message name="listarSeccionPorIdGradoResponse">
    <part name="parameters" element="tns:listarSeccionPorIdGradoResponse" />
  </message>
  <message name="listarEstPorSeccion">
    <part name="parameters" element="tns:listarEstPorSeccion" />
  </message>
  <message name="listarEstPorSeccionResponse">
    <part name="parameters" element="tns:listarEstPorSeccionResponse" />
  </message>
  <message name="listarGradosTodos">
    <part name="parameters" element="tns:listarGradosTodos" />
  </message>
  <message name="listarGradosTodosResponse">
    <part name="parameters" element="tns:listarGradosTodosResponse" />
  </message>
  <message name="listarNivelesEducativos">
    <part name="parameters" element="tns:listarNivelesEducativos" />
  </message>
  <message name="listarNivelesEducativosResponse">
    <part name="parameters" element="tns:listarNivelesEducativosResponse" />
  </message>
  <message name="eliminarSeccion">
    <part name="parameters" element="tns:eliminarSeccion" />
  </message>
  <message name="eliminarSeccionResponse">
    <part name="parameters" element="tns:eliminarSeccionResponse" />
  </message>
  <message name="eliminarAula">
    <part name="parameters" element="tns:eliminarAula" />
  </message>
  <message name="eliminarAulaResponse">
    <part name="parameters" element="tns:eliminarAulaResponse" />
  </message>
  <message name="modificarAula">
    <part name="parameters" element="tns:modificarAula" />
  </message>
  <message name="modificarAulaResponse">
    <part name="parameters" element="tns:modificarAulaResponse" />
  </message>
  <message name="insertarSeccion">
    <part name="parameters" element="tns:insertarSeccion" />
  </message>
  <message name="insertarSeccionResponse">
    <part name="parameters" element="tns:insertarSeccionResponse" />
  </message>
  <message name="modificarSeccion">
    <part name="parameters" element="tns:modificarSeccion" />
  </message>
  <message name="modificarSeccionResponse">
    <part name="parameters" element="tns:modificarSeccionResponse" />
  </message>
  <message name="insertarAula">
    <part name="parameters" element="tns:insertarAula" />
  </message>
  <message name="insertarAulaResponse">
    <part name="parameters" element="tns:insertarAulaResponse" />
  </message>
  <message name="listarAulaTodas">
    <part name="parameters" element="tns:listarAulaTodas" />
  </message>
  <message name="listarAulaTodasResponse">
    <part name="parameters" element="tns:listarAulaTodasResponse" />
  </message>
  <message name="listarAulasDetalle">
    <part name="parameters" element="tns:listarAulasDetalle" />
  </message>
  <message name="listarAulasDetalleResponse">
    <part name="parameters" element="tns:listarAulasDetalleResponse" />
  </message>
  <message name="generarReporteAnualPorAlumno">
    <part name="parameters" element="tns:generarReporteAnualPorAlumno" />
  </message>
  <message name="generarReporteAnualPorAlumnoResponse">
    <part name="parameters" element="tns:generarReporteAnualPorAlumnoResponse" />
  </message>
  <message name="asignarAulaXSeccion">
    <part name="parameters" element="tns:asignarAulaXSeccion" />
  </message>
  <message name="asignarAulaXSeccionResponse">
    <part name="parameters" element="tns:asignarAulaXSeccionResponse" />
  </message>
  <message name="vericarAulaEnSecciones">
    <part name="parameters" element="tns:vericarAulaEnSecciones" />
  </message>
  <message name="vericarAulaEnSeccionesResponse">
    <part name="parameters" element="tns:vericarAulaEnSeccionesResponse" />
  </message>
  <portType name="InfraWS">
    <operation name="listarSeccionesTodos">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarSeccionesTodosRequest" message="tns:listarSeccionesTodos" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarSeccionesTodosResponse" message="tns:listarSeccionesTodosResponse" />
    </operation>
    <operation name="listarSeccionPorIdGrado">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarSeccionPorIdGradoRequest" message="tns:listarSeccionPorIdGrado" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarSeccionPorIdGradoResponse" message="tns:listarSeccionPorIdGradoResponse" />
    </operation>
    <operation name="listarEstPorSeccion">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarEstPorSeccionRequest" message="tns:listarEstPorSeccion" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarEstPorSeccionResponse" message="tns:listarEstPorSeccionResponse" />
    </operation>
    <operation name="listarGradosTodos">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarGradosTodosRequest" message="tns:listarGradosTodos" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarGradosTodosResponse" message="tns:listarGradosTodosResponse" />
    </operation>
    <operation name="listarNivelesEducativos">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarNivelesEducativosRequest" message="tns:listarNivelesEducativos" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarNivelesEducativosResponse" message="tns:listarNivelesEducativosResponse" />
    </operation>
    <operation name="eliminarSeccion">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/eliminarSeccionRequest" message="tns:eliminarSeccion" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/eliminarSeccionResponse" message="tns:eliminarSeccionResponse" />
    </operation>
    <operation name="eliminarAula">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/eliminarAulaRequest" message="tns:eliminarAula" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/eliminarAulaResponse" message="tns:eliminarAulaResponse" />
    </operation>
    <operation name="modificarAula">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/modificarAulaRequest" message="tns:modificarAula" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/modificarAulaResponse" message="tns:modificarAulaResponse" />
    </operation>
    <operation name="insertarSeccion">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/insertarSeccionRequest" message="tns:insertarSeccion" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/insertarSeccionResponse" message="tns:insertarSeccionResponse" />
    </operation>
    <operation name="modificarSeccion">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/modificarSeccionRequest" message="tns:modificarSeccion" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/modificarSeccionResponse" message="tns:modificarSeccionResponse" />
    </operation>
    <operation name="insertarAula">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/insertarAulaRequest" message="tns:insertarAula" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/insertarAulaResponse" message="tns:insertarAulaResponse" />
    </operation>
    <operation name="listarAulaTodas">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarAulaTodasRequest" message="tns:listarAulaTodas" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarAulaTodasResponse" message="tns:listarAulaTodasResponse" />
    </operation>
    <operation name="listarAulasDetalle">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarAulasDetalleRequest" message="tns:listarAulasDetalle" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/listarAulasDetalleResponse" message="tns:listarAulasDetalleResponse" />
    </operation>
    <operation name="generarReporteAnualPorAlumno">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/generarReporteAnualPorAlumnoRequest" message="tns:generarReporteAnualPorAlumno" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/generarReporteAnualPorAlumnoResponse" message="tns:generarReporteAnualPorAlumnoResponse" />
    </operation>
    <operation name="asignarAulaXSeccion">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/asignarAulaXSeccionRequest" message="tns:asignarAulaXSeccion" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/asignarAulaXSeccionResponse" message="tns:asignarAulaXSeccionResponse" />
    </operation>
    <operation name="vericarAulaEnSecciones">
      <input wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/vericarAulaEnSeccionesRequest" message="tns:vericarAulaEnSecciones" />
      <output wsam:Action="http://gestadmin.services.astreiasoft.lp2.org/InfraWS/vericarAulaEnSeccionesResponse" message="tns:vericarAulaEnSeccionesResponse" />
    </operation>
  </portType>
  <binding name="InfraWSPortBinding" type="tns:InfraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarSeccionesTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSeccionPorIdGrado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEstPorSeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarGradosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarNivelesEducativos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAulaTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAulasDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="generarReporteAnualPorAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="asignarAulaXSeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="vericarAulaEnSecciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InfraWS">
    <port name="InfraWSPort" binding="tns:InfraWSPortBinding">
      <soap:address location="http://localhost:8080/AstreiaSoftWebServices/InfraWS" />
    </port>
  </service>
</definitions>