AstreiaSoft_C#/AstreiaSoft/AstreiaSoft/Connected Services/MallaWS/MallaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gestacad.services.astreiasoft.lp2.org/" targetNamespace="http://gestacad.services.astreiasoft.lp2.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="asignarDocenteCursoProgramado" type="tns:asignarDocenteCursoProgramado" />
  <xs:element name="asignarDocenteCursoProgramadoResponse" type="tns:asignarDocenteCursoProgramadoResponse" />
  <xs:element name="asignarEstudiantesCursoProgramado" type="tns:asignarEstudiantesCursoProgramado" />
  <xs:element name="asignarEstudiantesCursoProgramadoResponse" type="tns:asignarEstudiantesCursoProgramadoResponse" />
  <xs:element name="eliminarAreaCurricular" type="tns:eliminarAreaCurricular" />
  <xs:element name="eliminarAreaCurricularResponse" type="tns:eliminarAreaCurricularResponse" />
  <xs:element name="eliminarCurso" type="tns:eliminarCurso" />
  <xs:element name="eliminarCursoProgramado" type="tns:eliminarCursoProgramado" />
  <xs:element name="eliminarCursoProgramadoResponse" type="tns:eliminarCursoProgramadoResponse" />
  <xs:element name="eliminarCursoResponse" type="tns:eliminarCursoResponse" />
  <xs:element name="eliminarHorario" type="tns:eliminarHorario" />
  <xs:element name="eliminarHorarioCursDocente" type="tns:eliminarHorarioCursDocente" />
  <xs:element name="eliminarHorarioCursDocenteResponse" type="tns:eliminarHorarioCursDocenteResponse" />
  <xs:element name="eliminarHorarioCursEstudiante" type="tns:eliminarHorarioCursEstudiante" />
  <xs:element name="eliminarHorarioCursEstudianteResponse" type="tns:eliminarHorarioCursEstudianteResponse" />
  <xs:element name="eliminarHorarioResponse" type="tns:eliminarHorarioResponse" />
  <xs:element name="eliminarHorariosCursoPro" type="tns:eliminarHorariosCursoPro" />
  <xs:element name="eliminarHorariosCursoProResponse" type="tns:eliminarHorariosCursoProResponse" />
  <xs:element name="eliminarMaterial" type="tns:eliminarMaterial" />
  <xs:element name="eliminarMaterialResponse" type="tns:eliminarMaterialResponse" />
  <xs:element name="encontrarCursoProgramadoPorCurso" type="tns:encontrarCursoProgramadoPorCurso" />
  <xs:element name="encontrarCursoProgramadoPorCursoResponse" type="tns:encontrarCursoProgramadoPorCursoResponse" />
  <xs:element name="insertarAreaCurricular" type="tns:insertarAreaCurricular" />
  <xs:element name="insertarAreaCurricularResponse" type="tns:insertarAreaCurricularResponse" />
  <xs:element name="insertarCurso" type="tns:insertarCurso" />
  <xs:element name="insertarCursoProgramado" type="tns:insertarCursoProgramado" />
  <xs:element name="insertarCursoProgramadoResponse" type="tns:insertarCursoProgramadoResponse" />
  <xs:element name="insertarCursoResponse" type="tns:insertarCursoResponse" />
  <xs:element name="insertarHorario" type="tns:insertarHorario" />
  <xs:element name="insertarHorarioResponse" type="tns:insertarHorarioResponse" />
  <xs:element name="insertarMaterial" type="tns:insertarMaterial" />
  <xs:element name="insertarMaterialResponse" type="tns:insertarMaterialResponse" />
  <xs:element name="listarAreaCurricular" type="tns:listarAreaCurricular" />
  <xs:element name="listarAreaCurricularResponse" type="tns:listarAreaCurricularResponse" />
  <xs:element name="listarAreasNombre" type="tns:listarAreasNombre" />
  <xs:element name="listarAreasNombreResponse" type="tns:listarAreasNombreResponse" />
  <xs:element name="listarCursos" type="tns:listarCursos" />
  <xs:element name="listarCursosNombre" type="tns:listarCursosNombre" />
  <xs:element name="listarCursosNombreResponse" type="tns:listarCursosNombreResponse" />
  <xs:element name="listarCursosPorUsuarioYAnio" type="tns:listarCursosPorUsuarioYAnio" />
  <xs:element name="listarCursosPorUsuarioYAnioResponse" type="tns:listarCursosPorUsuarioYAnioResponse" />
  <xs:element name="listarCursosPrograGrado" type="tns:listarCursosPrograGrado" />
  <xs:element name="listarCursosPrograGradoResponse" type="tns:listarCursosPrograGradoResponse" />
  <xs:element name="listarCursosPrograNombre" type="tns:listarCursosPrograNombre" />
  <xs:element name="listarCursosPrograNombreResponse" type="tns:listarCursosPrograNombreResponse" />
  <xs:element name="listarCursosPrograTodos" type="tns:listarCursosPrograTodos" />
  <xs:element name="listarCursosPrograTodosResponse" type="tns:listarCursosPrograTodosResponse" />
  <xs:element name="listarCursosProgramadosPorUsuario" type="tns:listarCursosProgramadosPorUsuario" />
  <xs:element name="listarCursosProgramadosPorUsuarioResponse" type="tns:listarCursosProgramadosPorUsuarioResponse" />
  <xs:element name="listarCursosResponse" type="tns:listarCursosResponse" />
  <xs:element name="listarGradosTodos" type="tns:listarGradosTodos" />
  <xs:element name="listarGradosTodosResponse" type="tns:listarGradosTodosResponse" />
  <xs:element name="listarHorarioPorIdDocente" type="tns:listarHorarioPorIdDocente" />
  <xs:element name="listarHorarioPorIdDocenteResponse" type="tns:listarHorarioPorIdDocenteResponse" />
  <xs:element name="listarHorarioPorSeccion" type="tns:listarHorarioPorSeccion" />
  <xs:element name="listarHorarioPorSeccionResponse" type="tns:listarHorarioPorSeccionResponse" />
  <xs:element name="listarMateriales" type="tns:listarMateriales" />
  <xs:element name="listarMaterialesPorCursoProgramado" type="tns:listarMaterialesPorCursoProgramado" />
  <xs:element name="listarMaterialesPorCursoProgramadoResponse" type="tns:listarMaterialesPorCursoProgramadoResponse" />
  <xs:element name="listarMaterialesResponse" type="tns:listarMaterialesResponse" />
  <xs:element name="modificarAreaCurricular" type="tns:modificarAreaCurricular" />
  <xs:element name="modificarAreaCurricularResponse" type="tns:modificarAreaCurricularResponse" />
  <xs:element name="modificarCurso" type="tns:modificarCurso" />
  <xs:element name="modificarCursoProgramado" type="tns:modificarCursoProgramado" />
  <xs:element name="modificarCursoProgramadoResponse" type="tns:modificarCursoProgramadoResponse" />
  <xs:element name="modificarCursoResponse" type="tns:modificarCursoResponse" />
  <xs:element name="modificarHorario" type="tns:modificarHorario" />
  <xs:element name="modificarHorarioResponse" type="tns:modificarHorarioResponse" />
  <xs:element name="modificarMaterial" type="tns:modificarMaterial" />
  <xs:element name="modificarMaterialResponse" type="tns:modificarMaterialResponse" />
  <xs:element name="obtenerNombreArea" type="tns:obtenerNombreArea" />
  <xs:element name="obtenerNombreAreaResponse" type="tns:obtenerNombreAreaResponse" />
  <xs:element name="obtenerNombreCurso" type="tns:obtenerNombreCurso" />
  <xs:element name="obtenerNombreCursoHorario" type="tns:obtenerNombreCursoHorario" />
  <xs:element name="obtenerNombreCursoHorarioResponse" type="tns:obtenerNombreCursoHorarioResponse" />
  <xs:element name="obtenerNombreCursoResponse" type="tns:obtenerNombreCursoResponse" />
  <xs:element name="obtenerNombreDocenteHorario" type="tns:obtenerNombreDocenteHorario" />
  <xs:element name="obtenerNombreDocenteHorarioResponse" type="tns:obtenerNombreDocenteHorarioResponse" />
  <xs:element name="verificarArea" type="tns:verificarArea" />
  <xs:element name="verificarAreaResponse" type="tns:verificarAreaResponse" />
  <xs:element name="verificarCurso" type="tns:verificarCurso" />
  <xs:element name="verificarCursoProgramado" type="tns:verificarCursoProgramado" />
  <xs:element name="verificarCursoProgramadoDocente" type="tns:verificarCursoProgramadoDocente" />
  <xs:element name="verificarCursoProgramadoDocenteResponse" type="tns:verificarCursoProgramadoDocenteResponse" />
  <xs:element name="verificarCursoProgramadoEstudiantes" type="tns:verificarCursoProgramadoEstudiantes" />
  <xs:element name="verificarCursoProgramadoEstudiantesResponse" type="tns:verificarCursoProgramadoEstudiantesResponse" />
  <xs:element name="verificarCursoProgramadoResponse" type="tns:verificarCursoProgramadoResponse" />
  <xs:element name="verificarCursoResponse" type="tns:verificarCursoResponse" />
  <xs:element name="verificarEliminarArea" type="tns:verificarEliminarArea" />
  <xs:element name="verificarEliminarAreaResponse" type="tns:verificarEliminarAreaResponse" />
  <xs:element name="verificarEliminarCurso" type="tns:verificarEliminarCurso" />
  <xs:element name="verificarEliminarCursoResponse" type="tns:verificarEliminarCursoResponse" />
  <xs:complexType name="listarMaterialesPorCursoProgramado">
    <xs:sequence>
      <xs:element name="idCursoProgramado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMaterialesPorCursoProgramadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="material">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="archivo" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="cursoProgramado" type="tns:cursoProgramado" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element name="idMaterial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cursoProgramado">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="anho" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="areas" nillable="true" type="tns:evaluacion" />
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="docentes" nillable="true" type="tns:docente" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="estudiantes" nillable="true" type="tns:estudiante" />
      <xs:element name="idCursoProgramado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="materiales" nillable="true" type="tns:material" />
      <xs:element minOccurs="0" name="nombreCursoGrado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="bimestre" type="tns:bimestre" />
      <xs:element minOccurs="0" name="cursoProgramado" type="tns:cursoProgramado" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="docente" type="tns:docente" />
      <xs:element minOccurs="0" name="fechaLimite" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaSubido" type="xs:dateTime" />
      <xs:element name="idEvaluacion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="nota" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoEvaluacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bimestre">
    <xs:sequence>
      <xs:element minOccurs="0" name="finPeriodo" type="xs:dateTime" />
      <xs:element name="idBimestre" type="xs:int" />
      <xs:element minOccurs="0" name="inicioPeriodo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="docente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:empleado">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="especialidad" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaContratacion" type="xs:dateTime" />
          <xs:element name="salario" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="genero" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="tns:nombreRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="areaCurricular" type="tns:areaCurricular" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="grado" type="tns:grado" />
      <xs:element name="horasSemanales" type="xs:int" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreGrado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="areaCurricular">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idAreaCurricular" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grado">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="estudiantes" nillable="true" type="tns:estudiante" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idGrado" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelEducativo" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estudiante">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="aula" type="tns:aula" />
          <xs:element minOccurs="0" name="grado" type="tns:grado" />
          <xs:element name="idEstudiante" type="xs:int" />
          <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
          <xs:element minOccurs="0" name="padre" type="tns:padreFamilia" />
          <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="aula">
    <xs:sequence>
      <xs:element name="capacidad" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoAula" />
      <xs:element name="idAula" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="anho" type="xs:int" />
      <xs:element minOccurs="0" name="aula" type="tns:aula" />
      <xs:element minOccurs="0" name="grado" type="tns:grado" />
      <xs:element name="idSeccion" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="padreFamilia">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="hijos" nillable="true" type="tns:estudiante" />
          <xs:element name="numeroHijos" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosProgramadosPorUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosProgramadosPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cursoProgramado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarDocenteCursoProgramado">
    <xs:sequence>
      <xs:element name="idCursoPro" type="xs:int" />
      <xs:element name="idDocente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarDocenteCursoProgramadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAreaCurricular">
    <xs:sequence>
      <xs:element minOccurs="0" name="areaCurricular" type="tns:areaCurricular" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAreaCurricularResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoProgramado">
    <xs:sequence>
      <xs:element name="idCursoProgramado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoProgramadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCursoProgramadoEstudiantes">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="idSeccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCursoProgramadoEstudiantesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarAreaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAreaCurricular">
    <xs:sequence>
      <xs:element minOccurs="0" name="areaCurricular" type="tns:areaCurricular" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAreaCurricularResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGradosTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarGradosTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:grado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="horario" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horario">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asistencias" nillable="true" type="tns:asistencia" />
      <xs:element minOccurs="0" name="cursoProgramado" type="tns:cursoProgramado" />
      <xs:element minOccurs="0" name="diaSemana" type="xs:string" />
      <xs:element minOccurs="0" name="docente" type="tns:docente" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="horaIni" type="xs:string" />
      <xs:element name="idHorario" type="xs:int" />
      <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:estadoAsistencia" />
      <xs:element minOccurs="0" name="estudiante" type="tns:estudiante" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horario" type="tns:horario" />
      <xs:element name="idAsistencia" type="xs:int" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPrograGrado">
    <xs:sequence>
      <xs:element name="idGrado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPrograGradoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cursoProgramado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="horario" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarHorarioPorSeccion">
    <xs:sequence>
      <xs:element name="idSeccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarHorarioPorSeccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorUsuarioYAnio">
    <xs:sequence>
      <xs:element name="idDocente" type="xs:int" />
      <xs:element name="anio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorUsuarioYAnioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHorario">
    <xs:sequence>
      <xs:element name="idHorario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHorariosCursoPro">
    <xs:sequence>
      <xs:element name="idCursoProgramado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHorariosCursoProResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="material" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMaterialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAreaCurricular">
    <xs:sequence>
      <xs:element name="idAreaCurricular" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAreaCurricularResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarCursoProgramadoPorCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarCursoProgramadoPorCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNombreArea">
    <xs:sequence>
      <xs:element name="idArea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNombreAreaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCursoProgramado">
    <xs:sequence>
      <xs:element minOccurs="0" name="cursoProgramado" type="tns:cursoProgramado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCursoProgramadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPrograNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPrograNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cursoProgramado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPrograTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCursosPrograTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cursoProgramado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAreaCurricular">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAreaCurricularResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:areaCurricular" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAreasNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAreasNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:areaCurricular" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoProgramado">
    <xs:sequence>
      <xs:element minOccurs="0" name="cursoProgramado" type="tns:cursoProgramado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoProgramadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNombreDocenteHorario">
    <xs:sequence>
      <xs:element name="idHorario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNombreDocenteHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNombreCursoHorario">
    <xs:sequence>
      <xs:element name="idHorario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNombreCursoHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarEstudiantesCursoProgramado">
    <xs:sequence>
      <xs:element name="idCursoPro" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="idsEs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarEstudiantesCursoProgramadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarEliminarArea">
    <xs:sequence>
      <xs:element name="idArea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarEliminarAreaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarHorarioPorIdDocente">
    <xs:sequence>
      <xs:element name="idDocente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarHorarioPorIdDocenteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCursoProgramadoDocente">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="idDocente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCursoProgramadoDocenteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHorarioCursEstudiante">
    <xs:sequence>
      <xs:element name="idHorario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHorarioCursEstudianteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCursosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMateriales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMaterialesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="material" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaterialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarEliminarCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarEliminarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNombreCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNombreCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCursoProgramado">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:cursoProgramado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCursoProgramadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMaterial">
    <xs:sequence>
      <xs:element name="idMaterial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMaterialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHorarioCursDocente">
    <xs:sequence>
      <xs:element name="idHorario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHorarioCursDocenteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nombreRol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Estudiante" />
      <xs:enumeration value="PadreFamilia" />
      <xs:enumeration value="Docente" />
      <xs:enumeration value="AdministradorAcademico" />
      <xs:enumeration value="AdministradorSistema" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEvaluacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tarea" />
      <xs:enumeration value="Practica" />
      <xs:enumeration value="Examen" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoAula">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Operativo" />
      <xs:enumeration value="Inoperativo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nivelEducativo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Primaria" />
      <xs:enumeration value="Secundaria" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoAsistencia">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Presente" />
      <xs:enumeration value="Ausente" />
      <xs:enumeration value="Tardanza" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>