AstreiaSoft_C#/AstreiaSoft/AstreiaSoft/Connected Services/AdminWS/AdminWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gestacad.services.astreiasoft.lp2.org/" targetNamespace="http://gestacad.services.astreiasoft.lp2.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cancelarInscripcionEvento" type="tns:cancelarInscripcionEvento" />
  <xs:element name="cancelarInscripcionEventoResponse" type="tns:cancelarInscripcionEventoResponse" />
  <xs:element name="decidirInscripcion" type="tns:decidirInscripcion" />
  <xs:element name="decidirInscripcionResponse" type="tns:decidirInscripcionResponse" />
  <xs:element name="eliminarAsistencia" type="tns:eliminarAsistencia" />
  <xs:element name="eliminarAsistenciaResponse" type="tns:eliminarAsistenciaResponse" />
  <xs:element name="eliminarEvento" type="tns:eliminarEvento" />
  <xs:element name="eliminarEventoResponse" type="tns:eliminarEventoResponse" />
  <xs:element name="eliminarInscripcion" type="tns:eliminarInscripcion" />
  <xs:element name="eliminarInscripcionResponse" type="tns:eliminarInscripcionResponse" />
  <xs:element name="eliminarMatricula" type="tns:eliminarMatricula" />
  <xs:element name="eliminarMatriculaResponse" type="tns:eliminarMatriculaResponse" />
  <xs:element name="inscribirEstudianteEnEvento" type="tns:inscribirEstudianteEnEvento" />
  <xs:element name="inscribirEstudianteEnEventoResponse" type="tns:inscribirEstudianteEnEventoResponse" />
  <xs:element name="insertarAsistencia" type="tns:insertarAsistencia" />
  <xs:element name="insertarAsistenciaResponse" type="tns:insertarAsistenciaResponse" />
  <xs:element name="insertarEstudiante" type="tns:insertarEstudiante" />
  <xs:element name="insertarEstudianteResponse" type="tns:insertarEstudianteResponse" />
  <xs:element name="insertarEvento" type="tns:insertarEvento" />
  <xs:element name="insertarEventoResponse" type="tns:insertarEventoResponse" />
  <xs:element name="insertarInscripcion" type="tns:insertarInscripcion" />
  <xs:element name="insertarInscripcionResponse" type="tns:insertarInscripcionResponse" />
  <xs:element name="insertarMatricula" type="tns:insertarMatricula" />
  <xs:element name="insertarMatriculaResponse" type="tns:insertarMatriculaResponse" />
  <xs:element name="listarAnhosMatriculacion" type="tns:listarAnhosMatriculacion" />
  <xs:element name="listarAnhosMatriculacionResponse" type="tns:listarAnhosMatriculacionResponse" />
  <xs:element name="listarEventosInscritosPorEstudiante" type="tns:listarEventosInscritosPorEstudiante" />
  <xs:element name="listarEventosInscritosPorEstudianteResponse" type="tns:listarEventosInscritosPorEstudianteResponse" />
  <xs:element name="listarEventosPorNombre" type="tns:listarEventosPorNombre" />
  <xs:element name="listarEventosPorNombreResponse" type="tns:listarEventosPorNombreResponse" />
  <xs:element name="listarEventosPorNombreYFecha" type="tns:listarEventosPorNombreYFecha" />
  <xs:element name="listarEventosPorNombreYFechaResponse" type="tns:listarEventosPorNombreYFechaResponse" />
  <xs:element name="listarGradosActivos" type="tns:listarGradosActivos" />
  <xs:element name="listarGradosActivosResponse" type="tns:listarGradosActivosResponse" />
  <xs:element name="listarHijosDePadre" type="tns:listarHijosDePadre" />
  <xs:element name="listarHijosDePadreResponse" type="tns:listarHijosDePadreResponse" />
  <xs:element name="listarMatriculasPorAnho" type="tns:listarMatriculasPorAnho" />
  <xs:element name="listarMatriculasPorAnhoResponse" type="tns:listarMatriculasPorAnhoResponse" />
  <xs:element name="listarPorPadre" type="tns:listarPorPadre" />
  <xs:element name="listarPorPadreEstudiante" type="tns:listarPorPadreEstudiante" />
  <xs:element name="listarPorPadreEstudianteResponse" type="tns:listarPorPadreEstudianteResponse" />
  <xs:element name="listarPorPadreResponse" type="tns:listarPorPadreResponse" />
  <xs:element name="listarPreinscripciones" type="tns:listarPreinscripciones" />
  <xs:element name="listarPreinscripcionesPorEstado" type="tns:listarPreinscripcionesPorEstado" />
  <xs:element name="listarPreinscripcionesPorEstadoResponse" type="tns:listarPreinscripcionesPorEstadoResponse" />
  <xs:element name="listarPreinscripcionesResponse" type="tns:listarPreinscripcionesResponse" />
  <xs:element name="listarTodasAsistencias" type="tns:listarTodasAsistencias" />
  <xs:element name="listarTodasAsistenciasResponse" type="tns:listarTodasAsistenciasResponse" />
  <xs:element name="listarTodasInscripciones" type="tns:listarTodasInscripciones" />
  <xs:element name="listarTodasInscripcionesResponse" type="tns:listarTodasInscripcionesResponse" />
  <xs:element name="listarTodasMatriculas" type="tns:listarTodasMatriculas" />
  <xs:element name="listarTodasMatriculasResponse" type="tns:listarTodasMatriculasResponse" />
  <xs:element name="listarTodosEventos" type="tns:listarTodosEventos" />
  <xs:element name="listarTodosEventosResponse" type="tns:listarTodosEventosResponse" />
  <xs:element name="modificarAsistencia" type="tns:modificarAsistencia" />
  <xs:element name="modificarAsistenciaResponse" type="tns:modificarAsistenciaResponse" />
  <xs:element name="modificarEvento" type="tns:modificarEvento" />
  <xs:element name="modificarEventoResponse" type="tns:modificarEventoResponse" />
  <xs:element name="modificarInscripcion" type="tns:modificarInscripcion" />
  <xs:element name="modificarInscripcionResponse" type="tns:modificarInscripcionResponse" />
  <xs:element name="modificarMatricula" type="tns:modificarMatricula" />
  <xs:element name="modificarMatriculaResponse" type="tns:modificarMatriculaResponse" />
  <xs:complexType name="listarTodasInscripciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasInscripcionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:inscripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inscripcion">
    <xs:sequence>
      <xs:element name="esNuevo" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="estudiante" type="tns:estudiante" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idInscripcion" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="matricula" type="tns:matricula" />
      <xs:element minOccurs="0" name="padre" type="tns:padreFamilia" />
      <xs:element minOccurs="0" name="periodoAcademico" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estudiante">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="aula" type="tns:aula" />
          <xs:element minOccurs="0" name="grado" type="tns:grado" />
          <xs:element name="idEstudiante" type="xs:int" />
          <xs:element minOccurs="0" name="padre" type="tns:padreFamilia" />
          <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="genero" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aula">
    <xs:sequence>
      <xs:element name="capacidad" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoAula" />
      <xs:element name="idAula" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="anho" type="xs:int" />
      <xs:element minOccurs="0" name="aula" type="tns:aula" />
      <xs:element minOccurs="0" name="grado" type="tns:grado" />
      <xs:element name="idSeccion" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grado">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="estudiantes" nillable="true" type="tns:estudiante" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idGrado" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelEducativo" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="padreFamilia">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="hijos" nillable="true" type="tns:estudiante" />
          <xs:element name="numeroHijos" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="tns:nombreRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="matricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idMatricula" type="xs:int" />
      <xs:element name="monto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="matricula" type="tns:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMatriculaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPreinscripciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPreinscripcionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:inscripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idEvento" type="xs:int" />
      <xs:element minOccurs="0" name="lugar" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAnhosMatriculacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAnhosMatriculacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventosInscritosPorEstudiante">
    <xs:sequence>
      <xs:element name="idEstudiante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventosInscritosPorEstudianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPadreEstudiante">
    <xs:sequence>
      <xs:element name="idPadre" type="xs:int" />
      <xs:element name="idEstudiante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPadreEstudianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:inscripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAsistencia">
    <xs:sequence>
      <xs:element name="idAsistencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAsistenciaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGradosActivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarGradosActivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:grado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInscripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="inscripcion" type="tns:inscripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInscripcionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventosPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventosPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEstudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="estudiante" type="tns:estudiante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEstudianteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEvento">
    <xs:sequence>
      <xs:element name="idEvento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasAsistencias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasAsistenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:estadoAsistencia" />
      <xs:element minOccurs="0" name="estudiante" type="tns:estudiante" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horario" type="tns:horario" />
      <xs:element name="idAsistencia" type="xs:int" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horario">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asistencias" nillable="true" type="tns:asistencia" />
      <xs:element minOccurs="0" name="cursoProgramado" type="tns:cursoProgramado" />
      <xs:element minOccurs="0" name="diaSemana" type="xs:string" />
      <xs:element minOccurs="0" name="docente" type="tns:docente" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="horaIni" type="xs:string" />
      <xs:element name="idHorario" type="xs:int" />
      <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cursoProgramado">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="anho" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="areas" nillable="true" type="tns:evaluacion" />
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="docentes" nillable="true" type="tns:docente" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="estudiantes" nillable="true" type="tns:estudiante" />
      <xs:element name="idCursoProgramado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="materiales" nillable="true" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="bimestre" type="tns:bimestre" />
      <xs:element minOccurs="0" name="cursoProgramado" type="tns:cursoProgramado" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="docente" type="tns:docente" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entregas" nillable="true" type="tns:entrega" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaLimite" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaSubido" type="xs:dateTime" />
      <xs:element name="idEvaluacion" type="xs:int" />
      <xs:element name="nota" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoEvaluacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bimestre">
    <xs:sequence>
      <xs:element minOccurs="0" name="finPeriodo" type="xs:dateTime" />
      <xs:element name="idBimestre" type="xs:int" />
      <xs:element minOccurs="0" name="inicioPeriodo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="docente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:empleado">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="especialidad" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaContratacion" type="xs:dateTime" />
          <xs:element name="salario" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="entrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEntrega" />
      <xs:element minOccurs="0" name="estudiante" type="tns:estudiante" />
      <xs:element minOccurs="0" name="evaluacion" type="tns:evaluacion" />
      <xs:element minOccurs="0" name="fechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRevision" type="xs:dateTime" />
      <xs:element name="idEntrega" type="xs:int" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="areaCurricular" type="tns:areaCurricular" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="grado" type="tns:grado" />
      <xs:element name="horasSemanales" type="xs:int" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="areaCurricular">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idAreaCurricular" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="material">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="archivo" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="cursoProgramado" type="tns:cursoProgramado" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element name="idMaterial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarInscripcionEvento">
    <xs:sequence>
      <xs:element name="idEstudiante" type="xs:int" />
      <xs:element name="idEvento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarInscripcionEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMatriculasPorAnho">
    <xs:sequence>
      <xs:element name="inputAnho" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMatriculasPorAnhoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInscripcion">
    <xs:sequence>
      <xs:element name="idInscripcion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInscripcionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="asistencia" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAsistenciaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosEventos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosEventosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="asistencia" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistenciaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMatricula">
    <xs:sequence>
      <xs:element name="idMatricula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMatriculaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPadre">
    <xs:sequence>
      <xs:element name="idPadre" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPadreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:inscripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inscribirEstudianteEnEvento">
    <xs:sequence>
      <xs:element name="idEstudiante" type="xs:int" />
      <xs:element name="idEvento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inscribirEstudianteEnEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarHijosDePadre">
    <xs:sequence>
      <xs:element name="idPadre" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarHijosDePadreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInscripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="inscripcion" type="tns:inscripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInscripcionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="matricula" type="tns:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMatriculaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasMatriculas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasMatriculasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventosPorNombreYFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventosPorNombreYFechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPreinscripcionesPorEstado">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPreinscripcionesPorEstadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:inscripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="decidirInscripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="inscripcion" type="tns:inscripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="decidirInscripcionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoAula">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Operativo" />
      <xs:enumeration value="Inoperativo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nivelEducativo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Primaria" />
      <xs:enumeration value="Secundaria" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nombreRol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Estudiante" />
      <xs:enumeration value="PadreFamilia" />
      <xs:enumeration value="Docente" />
      <xs:enumeration value="AdministradorAcademico" />
      <xs:enumeration value="AdministradorSistema" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoAsistencia">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Presente" />
      <xs:enumeration value="Ausente" />
      <xs:enumeration value="Tardanza" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoEntrega">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pendiente" />
      <xs:enumeration value="Completado" />
      <xs:enumeration value="Anulado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEvaluacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tarea" />
      <xs:enumeration value="Practica" />
      <xs:enumeration value="Examen" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>