AstreiaSoft_C#/AstreiaSoft/AstreiaSoft/Connected Services/AdminWS/AdminWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gestacad.services.astreiasoft.lp2.org/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdminWS" targetNamespace="http://gestacad.services.astreiasoft.lp2.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AstreiaSoftWebServices/AdminWS?xsd=1" namespace="http://gestacad.services.astreiasoft.lp2.org/" />
    </xsd:schema>
  </types>
  <message name="inscribirEstudianteEnEvento">
    <part name="parameters" element="tns:inscribirEstudianteEnEvento" />
  </message>
  <message name="inscribirEstudianteEnEventoResponse">
    <part name="parameters" element="tns:inscribirEstudianteEnEventoResponse" />
  </message>
  <message name="listarTodasAsistencias">
    <part name="parameters" element="tns:listarTodasAsistencias" />
  </message>
  <message name="listarTodasAsistenciasResponse">
    <part name="parameters" element="tns:listarTodasAsistenciasResponse" />
  </message>
  <message name="modificarAsistencia">
    <part name="parameters" element="tns:modificarAsistencia" />
  </message>
  <message name="modificarAsistenciaResponse">
    <part name="parameters" element="tns:modificarAsistenciaResponse" />
  </message>
  <message name="listarTodosEventos">
    <part name="parameters" element="tns:listarTodosEventos" />
  </message>
  <message name="listarTodosEventosResponse">
    <part name="parameters" element="tns:listarTodosEventosResponse" />
  </message>
  <message name="listarTodasMatriculas">
    <part name="parameters" element="tns:listarTodasMatriculas" />
  </message>
  <message name="listarTodasMatriculasResponse">
    <part name="parameters" element="tns:listarTodasMatriculasResponse" />
  </message>
  <message name="eliminarAsistencia">
    <part name="parameters" element="tns:eliminarAsistencia" />
  </message>
  <message name="eliminarAsistenciaResponse">
    <part name="parameters" element="tns:eliminarAsistenciaResponse" />
  </message>
  <message name="listarMatriculasPorAnho">
    <part name="parameters" element="tns:listarMatriculasPorAnho" />
  </message>
  <message name="listarMatriculasPorAnhoResponse">
    <part name="parameters" element="tns:listarMatriculasPorAnhoResponse" />
  </message>
  <message name="listarEventosPorNombre">
    <part name="parameters" element="tns:listarEventosPorNombre" />
  </message>
  <message name="listarEventosPorNombreResponse">
    <part name="parameters" element="tns:listarEventosPorNombreResponse" />
  </message>
  <message name="cancelarInscripcionEvento">
    <part name="parameters" element="tns:cancelarInscripcionEvento" />
  </message>
  <message name="cancelarInscripcionEventoResponse">
    <part name="parameters" element="tns:cancelarInscripcionEventoResponse" />
  </message>
  <message name="decidirInscripcion">
    <part name="parameters" element="tns:decidirInscripcion" />
  </message>
  <message name="decidirInscripcionResponse">
    <part name="parameters" element="tns:decidirInscripcionResponse" />
  </message>
  <message name="listarPorPadreEstudiante">
    <part name="parameters" element="tns:listarPorPadreEstudiante" />
  </message>
  <message name="listarPorPadreEstudianteResponse">
    <part name="parameters" element="tns:listarPorPadreEstudianteResponse" />
  </message>
  <message name="listarPreinscripciones">
    <part name="parameters" element="tns:listarPreinscripciones" />
  </message>
  <message name="listarPreinscripcionesResponse">
    <part name="parameters" element="tns:listarPreinscripcionesResponse" />
  </message>
  <message name="listarEventosPorNombreYFecha">
    <part name="parameters" element="tns:listarEventosPorNombreYFecha" />
  </message>
  <message name="listarEventosPorNombreYFechaResponse">
    <part name="parameters" element="tns:listarEventosPorNombreYFechaResponse" />
  </message>
  <message name="listarPreinscripcionesPorEstado">
    <part name="parameters" element="tns:listarPreinscripcionesPorEstado" />
  </message>
  <message name="listarPreinscripcionesPorEstadoResponse">
    <part name="parameters" element="tns:listarPreinscripcionesPorEstadoResponse" />
  </message>
  <message name="obtenerOListarAsistencias">
    <part name="parameters" element="tns:obtenerOListarAsistencias" />
  </message>
  <message name="obtenerOListarAsistenciasResponse">
    <part name="parameters" element="tns:obtenerOListarAsistenciasResponse" />
  </message>
  <message name="insertarMatricula">
    <part name="parameters" element="tns:insertarMatricula" />
  </message>
  <message name="insertarMatriculaResponse">
    <part name="parameters" element="tns:insertarMatriculaResponse" />
  </message>
  <message name="modificarMatricula">
    <part name="parameters" element="tns:modificarMatricula" />
  </message>
  <message name="modificarMatriculaResponse">
    <part name="parameters" element="tns:modificarMatriculaResponse" />
  </message>
  <message name="eliminarMatricula">
    <part name="parameters" element="tns:eliminarMatricula" />
  </message>
  <message name="eliminarMatriculaResponse">
    <part name="parameters" element="tns:eliminarMatriculaResponse" />
  </message>
  <message name="insertarEstudiante">
    <part name="parameters" element="tns:insertarEstudiante" />
  </message>
  <message name="insertarEstudianteResponse">
    <part name="parameters" element="tns:insertarEstudianteResponse" />
  </message>
  <message name="listarHorariosDelCurso">
    <part name="parameters" element="tns:listarHorariosDelCurso" />
  </message>
  <message name="listarHorariosDelCursoResponse">
    <part name="parameters" element="tns:listarHorariosDelCursoResponse" />
  </message>
  <message name="listarHijosDePadre">
    <part name="parameters" element="tns:listarHijosDePadre" />
  </message>
  <message name="listarHijosDePadreResponse">
    <part name="parameters" element="tns:listarHijosDePadreResponse" />
  </message>
  <message name="listarGradosActivos">
    <part name="parameters" element="tns:listarGradosActivos" />
  </message>
  <message name="listarGradosActivosResponse">
    <part name="parameters" element="tns:listarGradosActivosResponse" />
  </message>
  <message name="insertarAsistencia">
    <part name="parameters" element="tns:insertarAsistencia" />
  </message>
  <message name="insertarAsistenciaResponse">
    <part name="parameters" element="tns:insertarAsistenciaResponse" />
  </message>
  <message name="listarAnhosMatriculacion">
    <part name="parameters" element="tns:listarAnhosMatriculacion" />
  </message>
  <message name="listarAnhosMatriculacionResponse">
    <part name="parameters" element="tns:listarAnhosMatriculacionResponse" />
  </message>
  <message name="modificarEvento">
    <part name="parameters" element="tns:modificarEvento" />
  </message>
  <message name="modificarEventoResponse">
    <part name="parameters" element="tns:modificarEventoResponse" />
  </message>
  <message name="insertarInscripcion">
    <part name="parameters" element="tns:insertarInscripcion" />
  </message>
  <message name="insertarInscripcionResponse">
    <part name="parameters" element="tns:insertarInscripcionResponse" />
  </message>
  <message name="eliminarInscripcion">
    <part name="parameters" element="tns:eliminarInscripcion" />
  </message>
  <message name="eliminarInscripcionResponse">
    <part name="parameters" element="tns:eliminarInscripcionResponse" />
  </message>
  <message name="listarTodasInscripciones">
    <part name="parameters" element="tns:listarTodasInscripciones" />
  </message>
  <message name="listarTodasInscripcionesResponse">
    <part name="parameters" element="tns:listarTodasInscripcionesResponse" />
  </message>
  <message name="listarPorPadre">
    <part name="parameters" element="tns:listarPorPadre" />
  </message>
  <message name="listarPorPadreResponse">
    <part name="parameters" element="tns:listarPorPadreResponse" />
  </message>
  <message name="eliminarEvento">
    <part name="parameters" element="tns:eliminarEvento" />
  </message>
  <message name="eliminarEventoResponse">
    <part name="parameters" element="tns:eliminarEventoResponse" />
  </message>
  <message name="modificarInscripcion">
    <part name="parameters" element="tns:modificarInscripcion" />
  </message>
  <message name="modificarInscripcionResponse">
    <part name="parameters" element="tns:modificarInscripcionResponse" />
  </message>
  <message name="insertarEvento">
    <part name="parameters" element="tns:insertarEvento" />
  </message>
  <message name="insertarEventoResponse">
    <part name="parameters" element="tns:insertarEventoResponse" />
  </message>
  <message name="listarEventosInscritosPorEstudiante">
    <part name="parameters" element="tns:listarEventosInscritosPorEstudiante" />
  </message>
  <message name="listarEventosInscritosPorEstudianteResponse">
    <part name="parameters" element="tns:listarEventosInscritosPorEstudianteResponse" />
  </message>
  <message name="verificarMatriculaParaPreinscripcion">
    <part name="parameters" element="tns:verificarMatriculaParaPreinscripcion" />
  </message>
  <message name="verificarMatriculaParaPreinscripcionResponse">
    <part name="parameters" element="tns:verificarMatriculaParaPreinscripcionResponse" />
  </message>
  <message name="listarEstudiantesDelCursoProgramado">
    <part name="parameters" element="tns:listarEstudiantesDelCursoProgramado" />
  </message>
  <message name="listarEstudiantesDelCursoProgramadoResponse">
    <part name="parameters" element="tns:listarEstudiantesDelCursoProgramadoResponse" />
  </message>
  <portType name="AdminWS">
    <operation name="inscribirEstudianteEnEvento">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/inscribirEstudianteEnEventoRequest" message="tns:inscribirEstudianteEnEvento" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/inscribirEstudianteEnEventoResponse" message="tns:inscribirEstudianteEnEventoResponse" />
    </operation>
    <operation name="listarTodasAsistencias">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarTodasAsistenciasRequest" message="tns:listarTodasAsistencias" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarTodasAsistenciasResponse" message="tns:listarTodasAsistenciasResponse" />
    </operation>
    <operation name="modificarAsistencia">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/modificarAsistenciaRequest" message="tns:modificarAsistencia" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/modificarAsistenciaResponse" message="tns:modificarAsistenciaResponse" />
    </operation>
    <operation name="listarTodosEventos">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarTodosEventosRequest" message="tns:listarTodosEventos" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarTodosEventosResponse" message="tns:listarTodosEventosResponse" />
    </operation>
    <operation name="listarTodasMatriculas">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarTodasMatriculasRequest" message="tns:listarTodasMatriculas" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarTodasMatriculasResponse" message="tns:listarTodasMatriculasResponse" />
    </operation>
    <operation name="eliminarAsistencia">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/eliminarAsistenciaRequest" message="tns:eliminarAsistencia" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/eliminarAsistenciaResponse" message="tns:eliminarAsistenciaResponse" />
    </operation>
    <operation name="listarMatriculasPorAnho">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarMatriculasPorAnhoRequest" message="tns:listarMatriculasPorAnho" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarMatriculasPorAnhoResponse" message="tns:listarMatriculasPorAnhoResponse" />
    </operation>
    <operation name="listarEventosPorNombre">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarEventosPorNombreRequest" message="tns:listarEventosPorNombre" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarEventosPorNombreResponse" message="tns:listarEventosPorNombreResponse" />
    </operation>
    <operation name="cancelarInscripcionEvento">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/cancelarInscripcionEventoRequest" message="tns:cancelarInscripcionEvento" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/cancelarInscripcionEventoResponse" message="tns:cancelarInscripcionEventoResponse" />
    </operation>
    <operation name="decidirInscripcion">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/decidirInscripcionRequest" message="tns:decidirInscripcion" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/decidirInscripcionResponse" message="tns:decidirInscripcionResponse" />
    </operation>
    <operation name="listarPorPadreEstudiante">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarPorPadreEstudianteRequest" message="tns:listarPorPadreEstudiante" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarPorPadreEstudianteResponse" message="tns:listarPorPadreEstudianteResponse" />
    </operation>
    <operation name="listarPreinscripciones">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarPreinscripcionesRequest" message="tns:listarPreinscripciones" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarPreinscripcionesResponse" message="tns:listarPreinscripcionesResponse" />
    </operation>
    <operation name="listarEventosPorNombreYFecha">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarEventosPorNombreYFechaRequest" message="tns:listarEventosPorNombreYFecha" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarEventosPorNombreYFechaResponse" message="tns:listarEventosPorNombreYFechaResponse" />
    </operation>
    <operation name="listarPreinscripcionesPorEstado">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarPreinscripcionesPorEstadoRequest" message="tns:listarPreinscripcionesPorEstado" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarPreinscripcionesPorEstadoResponse" message="tns:listarPreinscripcionesPorEstadoResponse" />
    </operation>
    <operation name="obtenerOListarAsistencias">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/obtenerOListarAsistenciasRequest" message="tns:obtenerOListarAsistencias" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/obtenerOListarAsistenciasResponse" message="tns:obtenerOListarAsistenciasResponse" />
    </operation>
    <operation name="insertarMatricula">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarMatriculaRequest" message="tns:insertarMatricula" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarMatriculaResponse" message="tns:insertarMatriculaResponse" />
    </operation>
    <operation name="modificarMatricula">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/modificarMatriculaRequest" message="tns:modificarMatricula" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/modificarMatriculaResponse" message="tns:modificarMatriculaResponse" />
    </operation>
    <operation name="eliminarMatricula">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/eliminarMatriculaRequest" message="tns:eliminarMatricula" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/eliminarMatriculaResponse" message="tns:eliminarMatriculaResponse" />
    </operation>
    <operation name="insertarEstudiante">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarEstudianteRequest" message="tns:insertarEstudiante" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarEstudianteResponse" message="tns:insertarEstudianteResponse" />
    </operation>
    <operation name="listarHorariosDelCurso">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarHorariosDelCursoRequest" message="tns:listarHorariosDelCurso" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarHorariosDelCursoResponse" message="tns:listarHorariosDelCursoResponse" />
    </operation>
    <operation name="listarHijosDePadre">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarHijosDePadreRequest" message="tns:listarHijosDePadre" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarHijosDePadreResponse" message="tns:listarHijosDePadreResponse" />
    </operation>
    <operation name="listarGradosActivos">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarGradosActivosRequest" message="tns:listarGradosActivos" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarGradosActivosResponse" message="tns:listarGradosActivosResponse" />
    </operation>
    <operation name="insertarAsistencia">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarAsistenciaRequest" message="tns:insertarAsistencia" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarAsistenciaResponse" message="tns:insertarAsistenciaResponse" />
    </operation>
    <operation name="listarAnhosMatriculacion">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarAnhosMatriculacionRequest" message="tns:listarAnhosMatriculacion" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarAnhosMatriculacionResponse" message="tns:listarAnhosMatriculacionResponse" />
    </operation>
    <operation name="modificarEvento">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/modificarEventoRequest" message="tns:modificarEvento" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/modificarEventoResponse" message="tns:modificarEventoResponse" />
    </operation>
    <operation name="insertarInscripcion">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarInscripcionRequest" message="tns:insertarInscripcion" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarInscripcionResponse" message="tns:insertarInscripcionResponse" />
    </operation>
    <operation name="eliminarInscripcion">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/eliminarInscripcionRequest" message="tns:eliminarInscripcion" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/eliminarInscripcionResponse" message="tns:eliminarInscripcionResponse" />
    </operation>
    <operation name="listarTodasInscripciones">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarTodasInscripcionesRequest" message="tns:listarTodasInscripciones" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarTodasInscripcionesResponse" message="tns:listarTodasInscripcionesResponse" />
    </operation>
    <operation name="listarPorPadre">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarPorPadreRequest" message="tns:listarPorPadre" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarPorPadreResponse" message="tns:listarPorPadreResponse" />
    </operation>
    <operation name="eliminarEvento">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/eliminarEventoRequest" message="tns:eliminarEvento" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/eliminarEventoResponse" message="tns:eliminarEventoResponse" />
    </operation>
    <operation name="modificarInscripcion">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/modificarInscripcionRequest" message="tns:modificarInscripcion" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/modificarInscripcionResponse" message="tns:modificarInscripcionResponse" />
    </operation>
    <operation name="insertarEvento">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarEventoRequest" message="tns:insertarEvento" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/insertarEventoResponse" message="tns:insertarEventoResponse" />
    </operation>
    <operation name="listarEventosInscritosPorEstudiante">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarEventosInscritosPorEstudianteRequest" message="tns:listarEventosInscritosPorEstudiante" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarEventosInscritosPorEstudianteResponse" message="tns:listarEventosInscritosPorEstudianteResponse" />
    </operation>
    <operation name="verificarMatriculaParaPreinscripcion">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/verificarMatriculaParaPreinscripcionRequest" message="tns:verificarMatriculaParaPreinscripcion" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/verificarMatriculaParaPreinscripcionResponse" message="tns:verificarMatriculaParaPreinscripcionResponse" />
    </operation>
    <operation name="listarEstudiantesDelCursoProgramado">
      <input wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarEstudiantesDelCursoProgramadoRequest" message="tns:listarEstudiantesDelCursoProgramado" />
      <output wsam:Action="http://gestacad.services.astreiasoft.lp2.org/AdminWS/listarEstudiantesDelCursoProgramadoResponse" message="tns:listarEstudiantesDelCursoProgramadoResponse" />
    </operation>
  </portType>
  <binding name="AdminWSPortBinding" type="tns:AdminWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="inscribirEstudianteEnEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasAsistencias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAsistencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosEventos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasMatriculas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAsistencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMatriculasPorAnho">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEventosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cancelarInscripcionEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="decidirInscripcion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorPadreEstudiante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPreinscripciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEventosPorNombreYFecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPreinscripcionesPorEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerOListarAsistencias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEstudiante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarHorariosDelCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarHijosDePadre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarGradosActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAsistencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAnhosMatriculacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarInscripcion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarInscripcion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasInscripciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorPadre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarInscripcion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEventosInscritosPorEstudiante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarMatriculaParaPreinscripcion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEstudiantesDelCursoProgramado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AdminWS">
    <port name="AdminWSPort" binding="tns:AdminWSPortBinding">
      <soap:address location="http://localhost:8080/AstreiaSoftWebServices/AdminWS" />
    </port>
  </service>
</definitions>